In [6]:
import pandas as pd
import numpy
mfdf = pd.read_csv("morefiero.csv")
mfdf.head()

,Unnamed: 0,creeps,xp,gold
0,0,"{'10-20': 3.5, '0-10': 5.5, '30-end': 4.5, '20...","{'10-20': 343.9, '0-10': 473.6, '30-end': 633....","{'10-20': 327.79999999999995, '0-10': 247.8999..."
1,1,"{'10-20': 0.9, '0-10': 1.2}","{'10-20': 992.7, '0-10': 636.4000000000001}","{'10-20': 485.8, '0-10': 468.6}"
2,2,"{'10-20': 1.1, '0-10': 0.1, '30-end': 4.8, '20...","{'10-20': 491.8, '0-10': 282.5, '30-end': 540,...","{'10-20': 459.3, '0-10': 258.4, '30-end': 517,..."
3,3,"{'10-20': 3.5, '0-10': 4.1}","{'10-20': 397.5, '0-10': 400.3}","{'10-20': 333.29999999999995, '0-10': 223.8}"
4,4,"{'10-20': 2.2, '0-10': 0.9}","{'10-20': 1072, '0-10': 813.2}","{'10-20': 575, '0-10': 517.4}"